* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.image-grid {
    display: grid;
    grid-template: "header" 50px " main" 1fr "footer" 50px;
    width: 100%;
}

.header {
    grid-area: header;
    background-color: navy;
    position: sticky;
    top: 0;
    z-index: 100;
}

.hero {
    grid-area: hero;
    background-color: red;
    height: 100vh;
    background-image: url("assets/images/hero.jpg");
    background-repeat: no-repeat;
}

.hero img {
    width: 100%;
}

.left-menu {
    grid-area: left-menu;
    background-color: white;
}

.main {
    grid-area: main;
}

.right-menu {
    grid-area: right-menu;
    background-color: white;
}

.footer {
    grid-area: footer;
    background-color: navy;
}

.image-grid .header {
    display: grid;
    grid-template-columns: 60px 1fr;
}

.header .boolean-icon,
.header .other-section {
    /* border: 1px solid yellow; */
}

.cardgrid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    padding: 10px;
    grid-gap: 10px;
    padding-left: 12em;
    padding-right: 12em;
}

.main .box {
    border: 1px solid black;
    border-radius: 10px;
}

.box {
    display: grid;
    grid-template-rows: 1fr 50px 80px;
}

.box .laptop,
.box .small-icon,
.box .text {
    /* border: 1px dashed black; */
}

.box .small-icon {
    display: grid;
    grid-template-columns: 1fr 30px 30px;
    gap: 5px;
    padding: 5px;
}

.small-icon .empty,
.small-icon .teddy,
.small-icon .twitter {
    /* border: 1px dashed black; */
}

.text {
    padding: 10px;
    font-size: small;
}

.fresh {
    width: 40px;
    height: 40px;
    position: absolute;
    top: 0px;
    right: 0px;
    border-radius: 30px;
    padding: 5px;
}

.laptop {
    position: relative;
}

.third2 {
    border-radius: 10px 10px 0px 0px;
}